<% content_for :title, "New friend" %>

<h1 style="font-family:georgia">Add New friend</h1>
<br/>
<%= render "form", friend: @friend %>
<br/>
  <%= link_to "Back to friends", friends_path, class: "btn btn-outline-dark", style: "font-family:georgia" %>



